body{
	background-image: url(../images/logoincome.png" class="img" alt="logo.jpeg);
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.back{background-color: #0001;}
#aboutus h2{margin-bottom: 25px;}
#aboutus p{color: pink;}
.img-wrap{
	width: 100%
}
.img-wrap img{
	margin-top: 100px;
	width: 100%;
	padding:10px;
	border-radius: 50%;
	box-shadow: 0 0 10px #999999;
}